* {
	box-sizing: 0;
}


#article {
	display: flex;
/*	box-shadow: 0px 0px 100px 0px #a6a6a6;*/
	margin: 1vw;
	align-items: center;
	flex-direction: column;
	margin-top: 3rem;
	width: 70vw;
}

#article .header {
	/*	width: 100%;*/
	display: flex;
	justify-content: center;
}

#article .header h1 {
	font-size: 40px;
	padding: 5px;
	border-bottom: solid 2px #1caa5d;
	margin: 6vh 0 5vh 0;
}

#article h2 {
	font-size: 35px;
	margin-top: 6vh;
	margin-bottom: 3vh;
}

#article h3 {
	font-size: 30px;
	margin-top: 4vh;
	margin-bottom: 2vh;
}

#article .content {
	width: 90%;
	margin: 2vh 2vw;
}

#article .degree {
	padding: 1vh 0 2vh 2vw;
	margin-bottom: 7vh;
	box-shadow: 0px 0px 20px 0px #c8c8c8;
	border-radius:10px;
}

#article .deglist {
	margin-left: 2vw;
}

#article .counter {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


#article .counter li {
	counter-increment: step-counter;
	margin-bottom: 10px;
	line-height: 4vh;
}


#article .counter li::before {
	content: counter(step-counter);
	margin-right: 10px;
	font-size: 80%;
	background-color: #b5aa90;
	color: white;
	font-weight: bold;
	padding: 3px 8px;
	border-radius: 3px;
/*	margin-left: -35px;*/
}

#article .counter span{
	font-size: 16px;
}

