#article {
    display: flex;
    box-shadow: 0 0 100px 0 #a6a6a6;
    align-items: center;
    flex-direction: column;
    margin: 5rem 1vw 1vw;
    width: 70vw;
}

#article .header {
    /*	width: 100%;*/
    display: flex;
    justify-content: center;
}

#article .header h1 {
    font-size: 40px;
    padding: 5px;
    border-bottom: solid 2px #1caa5d;
    margin: 5vh 0 0 0;
}

#article h2 {
    font-size: 35px;
    margin-top: 7vh;
    margin-bottom: 3vh;
}

#article h3 {
    font-size: 30px;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

#article .content {
    width: 90%;
    margin: 2vh 2vw;
}

#article .counter {
    padding: 0;
    list-style-type: none;
    margin: 0 0 0 2vw;
}

#article .counter li {
    counter-increment: step-counter;
    margin-bottom: 10px;
    line-height: 4vh;
}

#article .counter li::before {
    content: counter(step-counter);
    margin-right: 10px;
    font-size: 80%;
    background-color: #b5aa90;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

#article .counter span {
    font-size: 16px;
}
